.sidebar {
  width: 250px;
  background: white;
  height: 100%;
  position: fixed;
  box-shadow: 2px 0 4px rgba(0,0,0,.1);
}

.sidebar .mat-nav-list .mat-list-item.active {
  background-color: #e3f2fd;
  color: #1976d2;
}
